$white: #fff;

$grey: rgba(0, 0, 0, 0.25);
$grey-light: rgba(0, 0, 0, 0.1);
$grey-dark: rgba(0, 0, 0, 0.75);

$blue: #3d5a80;
$blue-light: #4593ba;
$blue-dark: #293241;

$green: #198754;
$green-dark: #11643d;

$orange: #ee6c4d;

$red: #d90429;
$red-dark: #c50323;
